name: Build Nerimity Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Backend Image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/nerimity-backend:latest -f Dockerfile.backend .

      - name: Push Backend Image
        run: docker push ghcr.io/${{ github.repository_owner }}/nerimity-backend:latest

  build-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Web Image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/nerimity-web:latest -f Dockerfile.web .

      - name: Push Web Image
        run: docker push ghcr.io/${{ github.repository_owner }}/nerimity-web:latest
